<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<!-- <button mat-flat-button color="primary" (click)="openDialog()">Open SampleDialog</button> -->
<button mat-flat-button color="primary" (click)="openWizard1()">Open Wizard</button>
<div>App Router Default</div>
<router-outlet></router-outlet>
<!-- <div style="border-color:blue;border-style: solid;">
  <div>App Router Named</div>
  <router-outlet name="mainoutlet"></router-outlet>
</div> -->
